# R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# renv
renv/library/
renv/local/
renv/cellar/
renv/lock/
renv/python/
renv/sandbox/
renv/staging/

# Quarto
.quarto/
_site/
*.html
*_cache/
*_files/

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# macOS
.DS_Store
Icon?
._*

# IDE
.vscode/
.idea/
